.DS_Store
Sprinklers.xcodeproj/project.xcworkspace/xcshareddata/Sprinklers.xccheckout
Sprinklers.xcodeproj/project.xcworkspace/xcuserdata/matyasfabian.xcuserdatad/UserInterfaceState.xcuserstate
Sprinklers.xcodeproj/xcuserdata/matyasfabian.xcuserdatad/xcschemes/Sprinklers.xcscheme
Sprinklers.xcodeproj/xcuserdata/matyasfabian.xcuserdatad/xcschemes/xcschememanagement.plist
